@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0 20px;
  font-family: 'Space Mono', monospace;
}

body p {
  color: #454545;
  text-align: center;
}

body h1, body h2, body h3 {
  color: #3D3D3D;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fdf7c8;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fdf7c8), color-stop(45%, #fbef90), color-stop(89%, #f7df1e));
  background: linear-gradient(90deg, #fdf7c8 25%, #fbef90 45%, #f7df1e 89%);
  padding: 25px 15px;
}

header .my-pages {
  display: none;
}

header .header__logo {
  width: 200px;
  height: auto;
}

header .hamburger-btn {
  position: relative;
  top: 5px;
  right: 10px;
  z-index: 100;
  padding: 4px;
  border: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: #F7DF1E;
  cursor: pointer;
}

.hamburger-btn .closeIcon {
  display: none;
}

nav {
  list-style-type: none;
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #F7DF1E;
  color: #454545;
  padding-top: 4rem;
}

nav .menu__item {
  text-decoration: none;
  color: #454545;
  line-height: 2;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 100px;
  font-size: 2rem;
  text-align: left;
}

main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px auto;
  width: 80%;
  min-height: 300px;
  background: #FBEF90;
  border-radius: 20px;
}

main .main-container__avatar {
  margin: 0 auto;
  -webkit-transform: translateY(-100px) scale(0.6);
          transform: translateY(-100px) scale(0.6);
}

main .main-container__title {
  font-size: 2rem;
  position: absolute;
  top: 300px;
  margin: 0px 20px;
  text-align: center;
}

.learning-container__title {
  text-align: center;
}

.learning-container__flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.learning-container .tech-logo {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.learning-container .container-for-logo-one {
  background: #BBDEFB;
  width: 300px;
  margin: 40px auto;
  border-radius: 5px;
}

.learning-container .container-for-logo-two {
  background: #FFF9C4;
  width: 300px;
  margin: 40px auto;
  border-radius: 5px;
}

.column__item {
  margin-bottom: 10px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
}

.column__item--one {
  color: #0D47A1;
}

.column__item--two {
  color: #c2ad07;
}

.resources-container {
  margin-top: 120px;
  text-align: center;
}

.resources-container .resources-grid-container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 0px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.resources-container .resources-grid-container__item {
  width: 120px;
}

footer {
  margin-top: 60px;
  background: #FBEF90;
  padding: 40px;
}

footer h3 {
  text-align: center;
  margin-bottom: 30px;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

footer form input {
  border: none;
  margin-bottom: 10px;
}

footer form textarea {
  border: none;
  width: 200px;
}

footer form button {
  border: none;
  background: #F7DF1E;
  padding: 10px 80px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

footer form button:hover {
  background: #c2ad07;
}

@media screen and (min-width: 1000px) {
  header {
    background: rgba(189, 189, 189, 0.8);
    position: fixed;
    left: 0;
    padding: 0 15px;
    top: 0;
    height: 100vh;
    width: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .my-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
    position: relative;
    top: -550px;
  }
  header .my-pages__item {
    cursor: pointer;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  header .hamburger-btn {
    display: none;
  }
  header .header__logo {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  main {
    margin-left: 200px;
  }
  main .main-container__title {
    top: 200px;
  }
  main .main-container__subtitle {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
    position: relative;
    bottom: 30px;
  }
  .learning-container__flex-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .learning-container .tech-logo {
    width: 500px;
  }
  .resources-container {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
  }
  .resources-container .resources-grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 100px;
  }
  .resources-container .resources-grid-container__item {
    width: 160px;
  }
  footer {
    position: relative;
  }
}
/*# sourceMappingURL=main.css.map */